<style>
#google-map-container {
  height: 600px;
  max-height: 60vh;
  width: 100%;
}
</style>

<h1>Start helping now</h1>
<%= text_field_tag :address, nil, id: 'address-input', placeholder: 'Where do you live?' %>
<%= image_tag "places.svg", class: 'hero-image', id: 'placeholder-image' %>
<div id="google-map-container">
</div>

<%= javascript_pack_tag 'help-now-show' %>
