<h2>Do you need help?</h2>
<p>Because of covid 19, you might have many good reasons to stay inside. For example, you might</p>
<ul>
  <li>be 65 years and older</li>
  <li>have chronic lung disease or moderate to severe asthma</li>
  <li>have have serious heart conditions</li>
  <li>have have serious heart conditions</li>
  <li>be immunocompromised</li>
  <li>others</li>
</ul>

<p>This website allows you to let your local community know how they can help you.</p>
<%= link_to "request help now", :new_help_request %>

<h2>Do you want to help?</h2>
<p>Great! We need more people like you in this time of crisis. Let's find out who needs help in your community.</p>
<%= link_to "start helping now", :help_now %>
