<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone created a new help request near you!</h1>
    <p>
      <strong><%= @help_request.name %></strong> just created a <%= link_to "help request", help_request_url(id: @help_request.id) %> <br />
      Don't forget to wash your hand!
    </p>

    <strong>helpaneighbor.ca</strong>
  </body>
</html>
