<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirm your email address</h1>
    <p>Once your email address is confirmed, we will send you an email anytime a new help request is created near: <%= @email_notification_subscription.address %></p>
    <%= link_to "Confirm your email", help_now_confirm_subscription_email_url(uuid: @email_notification_subscription.confirmation_uuid) %>
  </body>
</html>
