<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey! Someone new in your community needs help!</h1>
    <p>You can see the request <%= link_to "here", help_request_url(id: @help_request.id) %></p>
  </body>
</html>
