<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirm your email address</h1>
    <p>Once your email address is confirmed, we will send you an email anytime a new help request is created near: <%= @email_notification_subscription.address %></p>
    <p>TODO: link to confirm</p>
  </body>
</html>
