@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

$color_text: #222;
$color_success: #2ecc71;
$color_danger: #e74c3c;

$inputs_margin_bottom: 0.8em;
$inputs_margin_top: 0.2em;
$footer_height: 2.5em;

* { box-sizing: border-box; }

body {
  color: $color_text;
  padding: 0 1rem;
  font-family: 'Baloo Thambi 2', cursive;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 1.2em;
  }
}

a {
  color: $color_text;
  text-decoration: none;
  border-bottom: 1px solid #7f8c8d;

  &:hover {
    border-bottom: 1px solid black;
  }
}

main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer_height;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

label, input {
  display: block;
}

#google-map-container {
  margin-bottom: $inputs_margin_bottom;
}

input[type=text], select, textarea, {
  padding: 0.4em;
  margin-top: $inputs_margin_top;
  margin-bottom: $inputs_margin_bottom;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

textarea {
  resize: vertical;
}

input[type=submit] {
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: inherit;
  background-color: white;
  padding: 0.8rem;
  cursor: pointer;

  &:hover {
    background: $color_text;
    color: white;
  }
}

code {
  padding: 0.8rem;
  font-size: 2rem!important;
  background: #fffbdd;
}

.field_with_errors {
  input, textarea {
    border: 1px solid red!important;
  }
}

.input-error-message {
  color: red;
}

#main-nav {
  display: flex;
  padding: 0.8rem 0;
  justify-content: space-between;
}

#container {
  max-width: 80rem;
  margin: 0 auto;
  padding-bottom: $footer_height;
}

.special-condition-option {
  display: inline-block;
  margin-top: $inputs_margin_top;
  margin-bottom: $inputs_margin_bottom;

  label {
    border: 1px solid #aaa;
    border-radius: 50px;
    padding: 10px;
    display: block;
    cursor: pointer;

    span {
      display: block;
      font-size: 2rem;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  :checked + label{
    background: black;
    color: white;
  }
}

.special-condition {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 50px;
  padding: 10px;
  background: $color_text;
  color: white;

  span {
    display: block;
    font-size: 2rem;
  }
}

.hero-image {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  max-height: 50vh;

  @media (max-width: 768px) {
    max-width: 80%;
  }
}

.white-spaces {
  white-space: pre-wrap;
}

.capitalize {
  text-transform: capitalize;
}

.flash {
  border-radius: 4px;
  padding: 0.8rem;
}

.flash-notice {
  background-color: $color_success;
  color: #0a5727;
}

.flash-alert {
  background-color: $color_danger;
  color: #781a11;
}

#language-selection {
  margin-top: 30vh;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  a {
    display: flex;
    border-bottom: none;
    justify-content: center;
  }

  .flag-img {
    height: 1em;
    margin-right: 5px;
  }
}
